/* Responsive Smaller Phone Screens */
nav {
    width: 100%;
}

.flex-navbar {
    display: flex;
    flex-direction: row;
    max-height: 150px;
}

.flex-navbar #myFlexNavbarLinks,#mySMIconsBox {
    flex-direction: column;
}

.logo-box {
    width: 33%;
}

.logo-box img {
    width: 100%;
}

.button-box-1 {
    width: 20%;
    height: 20%;
}
button {
    border: none;
    background-color: white;
}

.button-box-1 button img {
    width: 45%;
}

#mySMIconsBox img {
    width: 5%;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav ul li {
    padding: 10px;
    text-align: center;
}

/* Responsive Medium Tablet Screens */
@media (min-width: 520px) {

}

/* Responsive Large Laptop Screens */
@media (min-width: 768px) {

}

/* Respsonsive Larger Desktop Screens */
@media (min-width: 960px) {
    
}