/* Responsive Smaller Phone Screens */
header {
    width: 100%;
    background-color: whitesmoke;
    margin: auto;
}

.flex-navbar {
    display: flex;
    flex-direction: column;
}

.flex-navbar-mobile,.button-navbar-box-1 {
    flex-direction: row;
}

.flex-navbar-mobile {
    justify-content: space-between;
    padding: 10px;
}

#myFlexNavbarLinks,#mySMIconsBox {
    flex-direction: column;
    background-color: whitesmoke;
    display: none;
}

#myFlexNavbarBox,#mySMIconsBox {
    border-top: 1px solid rgb(82, 189, 235);
}

.logo-box {
    width: 33%;
    max-width: 200px;
}

.logo-box img {
    width: 100%;
}

.button-navbar-box-1 {
    width: 20%;
    height: 20%;
    justify-content: space-evenly;
}

button {
    border: none;
    background-color: whitesmoke;
    width: 45%;
}

.button-navbar-box-1 button img {
    width: 100%;
}

#mySMIconsBox,#myFlexNavbarLinks {
    box-sizing: border-box;
}

#mySMIconsBox img {
    width: 5%;
    padding: 5px 10px;
}

nav a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: rgb(20, 20, 20);
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav ul li {
    padding: 10px;
}

#mySMIconsBox a:hover {
    background-color: rgb(82, 189, 235);

}

nav ul li:hover {
    background-color: rgb(82, 189, 235);
}

/* Responsive Medium Tablet Screens */
@media (min-width: 520px) {

    #buttonSMToggle,#buttonNavbarToggle {
        max-width: 45px;
    }

    #mySMIconsBox {
        align-items: center;
    }

    #mySMIconsBox img {
        width: 24px;
    }
}


/* Responsive Large Laptop Screens */
@media (min-width: 698px) {
    .flex-navbar {
        flex-direction: row;
    }

    .logo-box {
        width: 250px;
    }

    .button-navbar-box-1 {
        display: none;
    }

    #myFlexNavbarBox,#mySMIconsBox {
        border-top: none;
    }

    #myFlexNavbarLinks,#mySMIconsBox {
        display: flex;
        flex-direction: row;
    }

    #mySMIconsBox {
        align-self: flex-end;
        align-items: flex-end;
        flex-grow: 2;
        text-align: right;

    }

    nav a {
        font-weight: bold;
    }

    #mySMIconsBox img {
        width: 18px;
        padding: 5px;
    }
}


/* Respsonsive Larger Desktop Screens */
@media (min-width: 860px) {

}