@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    margin: 0px;
    background-color: lavender;
}

header {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(126, 126, 192);
}

header h1 {
    margin-top: 12px;
    font-family: 'Carter One', cursive;
    color: rgb(51, 51, 112);
}

hr {
    margin: 0px;
}

form {
    margin-top: 15px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(18, 18, 54);
}

select {
    margin-right: 25px;
    padding: 5px;
}

#galleryCarousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 90%;
    margin: 200px auto;
    padding: 40px;

    box-sizing: border-box;
    background-color: rgb(86, 86, 150);
    border-radius: 5px;
}

#galleryCarousel img {
    width: 17%;
    border-radius: 3px;
}

#galleryCarousel img:hover {
    box-shadow: 8px 8px 15px midnightblue;

}