@import url("CSS/colors.css");
@import url("CSS/typography.css");
@import url("CSS/layout.css");
@import url("CSS/navbar.css");

body {
    background-color: rgb(255, 242, 124);
    margin: 0px;
}

header, main, footer {
    margin: auto;
}

h1, h2, h3, p {
    font-family: 'Lato', sans-serif;
}

/* Small Mobile Screens */
    /* Home Page */
    .home-item-a img {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .home-item-b {
        width: 80%;
        margin: 30px auto;
        box-sizing: border-box;
        border: solid 8px rgb(27, 27, 27);
        color: whitesmoke;
        text-align: center;
        padding: 30px;
    }

    .home-item-b p {
        font-size: 25px;
        font-weight: bold;
        margin: 0px;
    }

    .socialmedia-icon,.sm-img {
        width: 100%;
    }

    .footer-grid p {
        color: rgb(255, 242, 124);
    }

/* Tablet Screens */
@media(min-width: 500px) {

    /* Home Page */
    .home-item-b p {
        font-size: 32px;
    }

    .sm-img {
        width: 80%;
    }
}

/* Laptop Screens */
@media(min-width: 768px) {
    /* Home Page */
    .home-item-b {
        border: solid 11px rgb(27, 27, 27);
    }

    .home-item-b p {
        font-size: 38px;
    }

    .sm-img {
        max-width: 80px;
        height: auto;
    }

    .home-grid-2 {
        max-width: 450px;
    }

}

/* Large Laptop Screens */
@media(min-width: 960px) {
    main {
        max-width: 1200px;
    }

    header, footer {
        max-width: 1600px;
    }
}