@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans&display=swap');

h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.gc-a p {
    text-align: justify;
}

/* Responsive tablet screens */
@media (min-width: 520px) {

}   

/* Responsive large laptop screens */
@media (min-width: 768px) {

}

/* Responsive larger laptop screens */
@media (min-width: 960px) {

}