/* BACKGROUND COLORS */
body {
    background-color: #adadad;
}

.red-bg {
    background-color: rgb(226, 82, 66);
}

.blue-bg {
    background-color: midnightblue;
}

.purple-bg {
    background-color: rgb(154, 96, 212);
}

.grey-bg {
    background-color: #adadad;
}