@import url("colors.css");
@import url("navbar.css");
@import url("typography.css");

body {
    margin: 0px;
    background-color: #adadad;
}

.flex {
    display: flex;
    flex-direction: column;
}

