.flex {
    display: flex;
    flex-direction: column;
}

nav .logo1 {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

nav .logo-container {
    background-color: #adadad;
    display: flex;
    justify-content: center;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav ul li {
    padding: 10px;
    border-bottom: 2px solid #adadad;
    text-align: center;
}

nav ul li.order-2 {
    display: none;
}

nav a {
    text-decoration: none;
    color: silver;
}

nav a:hover {
    color: skyblue;
}

.active-link1 {
    color: skyblue;
    text-decoration: underline;
}

@media(min-width: 500px) {
    nav.flex {
        flex-direction: row;
        justify-content: center;
    }

    nav ul.flex {
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 2;
        text-align: center;
        align-items: center;
    }

    nav ul li.order-2 {
        display: inline-flex;
        max-width: 30%;
    }

    #imgNav-1 {
        display: none;
    }

    nav li:first-child {
        border-left: none;
    }

    nav ul li {
        border-bottom: none;
        border-right: 1px solid skyblue;
        border-left: 1px solid skyblue;
        flex-basis: 0;
        flex-grow: 1;
    }    

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;      
    }

    .order-3 {
        order: 3;
    }
}

@media(min-width: 960px) {
}