/* Small Mobile Screens */

    /* Home Page */
    .grid-container {
        display: grid;
        box-sizing: border-box;
    }

    .home-grid-1 {
        grid-template-columns: auto;
        margin: 50px auto;
    }

    .home-grid-2 {
        width: 30%;
        margin: 0px auto 60px;
        grid-template-columns: 45% 45%;
        grid-row: 45% 45%;
        justify-items: center;
        align-items: center;
    }

    .home-item-c {
        grid-column: 1 / span 1;
        grid-row: 1;
    }

    .home-item-d {
        grid-column: 2 / span 1;
        grid-row: 1;
    }

    .home-item-e {
        grid-column: 1 / span 1;
        grid-row: 2;
    }

    .home-item-f {
        grid-column: 2 / span 1;
        grid-row: 2;
    }

    .footer-grid {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        justify-items: center;
        padding: 15px;
    }

    .home-item-g {
        grid-column: 1 / span 1;
        grid-row: 1;
    }

    .home-item-h {
        grid-column: 2 / span 1;
        grid-row: 1;
    }

    .home-item-i {
        grid-column: 1 / span 2;
        grid-row: 2;
    }



/* Tablet Screens */
@media(min-width: 500px) {
    /* Home Page */
    .home-grid-2 {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        width: 50%;
        justify-content: center;
    }

    .home-item-c {
        grid-column: 1 / span 1;
        grid-row: 1;
    }

    .home-item-d {
        grid-column: 2 / span 1;
        grid-row: 1;
    }

    .home-item-e {
        grid-column: 3 / span 1;
        grid-row: 1;
    }

    .home-item-f {
        grid-column: 4 / span 1;
        grid-row: 1;
    }

    .footer-grid {
        grid-template-columns: 180px 140px 140px;
        justify-items: start;
        padding-left: 30px;
    }

    .home-item-g {
        grid-column: 1 / span 1;
        grid-row: 1;
    }

    .home-item-h {
        grid-column: 2 / span 1;
        grid-row: 1;
    }

    .home-item-i {
        grid-column: 3 / span 1;
        grid-row: 1;
    }
}

/* Laptop Screens */
@media(min-width: 768px) {
    /* Home Page */

}

/* Large Laptop Screens */
@media(min-width: 960px) {
    
}