/* Small Mobile Screens */
nav {
    background-color: rgb(156, 31, 40);
    margin: auto;
    width: 100%;
}

.nav-flex {
    display: flex;
    flex-direction: column;
}

.logo-container {
    background-color: rgb(156, 31, 40);
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: rgb(156, 31, 40);
}

nav ul li {
    padding: 10px;
    border-top: 1px solid rgb(255, 255, 216);
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgb(255, 242, 124);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.list-hover-a:hover {
    background-color: rgb(197, 49, 59);
}

.list-a {
    background-color: rgb(197, 49, 59);
}

.list-hover-b:hover {
    background-color: #A0D2ec;
}

.list-b {
    background-color: #A0D2ec;
}

.list-hover-c:hover {
    background-color: rgb(27, 27, 27);
}

.list-c {
    background-color: rgb(27, 27, 27);
}

.list-hover-d:hover {
    background-color: rgb(224, 125, 11);
}

.list-d {
    background-color: rgb(224, 125, 11);
}

/* Tablet Screens */
@media(min-width: 520px) {
    .nav-flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-container {
        justify-content: flex-start;
    }

    .logo-img {
        width: 50%;
        height: auto;
        padding: 15px;
    }

    nav ul {
        text-align: center;
        align-items: center;
    }

    nav ul li {
        border-top: none;
        padding-right: 20px;
    }

    .list-hover-a:hover {
        background-color: rgb(156, 31, 40);
        text-decoration: underline;
    }
    
    .list-a {
        text-decoration: underline 2px rgb(197, 49, 59);
        background-color: rgb(156, 31, 40);
    }
    
    .list-hover-b:hover {
        text-decoration: underline 2px #A0D2ec;
        background-color: rgb(156, 31, 40);
    }
    
    .list-b {
        text-decoration: underline 2px #A0D2ec;
        background-color: rgb(156, 31, 40);
    }
    
    .list-hover-c:hover {
        text-decoration: underline 2px rgb(27, 27, 27);
        background-color: rgb(156, 31, 40);
    }
    
    .list-c {
        text-decoration: underline 2px rgb(27, 27, 27);
        background-color: rgb(156, 31, 40);
    }
    
    .list-hover-d:hover {
        text-decoration: underline 2px rgb(224, 125, 11);
        background-color: rgb(156, 31, 40);
    }
    
    .list-d {
        text-decoration: underline 2px rgb(224, 125, 11);
        background-color: rgb(156, 31, 40);
    }
}

/* Laptop Screens */
@media(min-width: 768px) {
    
}

/* Large Laptop Screens */
@media(min-width: 960px) {
    
}