.red-bg {
    background-color: chocolate;
} 

.green-bg {
    background-color: darkcyan;
}

.blue-bg {
    background-color: dodgerblue;
}

.yellow-bg {
    background-color: chartreuse;
}

.purple-bg {
    background-color: darkviolet;
}