.floater1 {
    float: left;
    min-height: 350px;
}

.w-100 {
    width: 80%;
}

.w-50 {
    width: 50%;
}

.floater1 img {
    width: 100%;
    margin: auto;
}

.floater1 h1,p {
    display: none;
}

.floater1:hover img {
    display: none;
}

.floater1:hover h1 {
    display: block;
    padding: 50px 10px;
    text-align: center;
    font-size: 30px;
}

/* Responsive breakpoint tablet */
@media (min-width:525px) {
    .w-med-100 {
        width: 100%;
    }
    
    .w-med-50 {
        width: 50%;
    }

    .w-med-33 {
        width: 33.33%;
    }

    .w-med-25 {
        width: 25%;
    }
}

/* Responsive breakpoint laptop */
@media (min-width:768px) {
    .w-lrg-100 {
        width: 100%;
    }

    .w-lrg-50 {
        width: 50%;
    }

    .floater1:hover h1 {
        font-size: 26px;
        margin-bottom: 0px;
        padding-bottom: 0px;

    }

    .floater1:hover p {
        display: block;
        font-size: 15px;
        text-align: center;
        padding: 10px 20px;
    }
}