@import url("layout.css");
@import url("color.css");

/* First responsive site; begin with responsive small phone screens */
body {
    margin: 0px;
    background-color: rgb(250, 240, 230);
    color: rgb(7, 7, 78);
    font-family: 'Raleway';
}

.logo {
    width: 60px;
    margin: 20px;
}

.header1 {
    display: inline-block;
    width: 150px;
    font-size: 18px;
    vertical-align: top;
    margin-top: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    margin: auto;
    font-family: 'Raleway';
    font-weight: bold;
    background-color: rgb(250, 240, 230);
}

nav a {
    text-decoration: none;
    color: rgb(7, 7, 78);
}

.active-link {
    text-decoration: underline;
}

a:hover {
    color: chocolate;
}
    
#toggleAssist, ul.nav-links {
    display: none;
}
    
#toggleAssist:checked + ul.nav-links {
    display: block;
    float: right;
    text-align: right;
    width: 100px;
    background-color: rgb(250, 240, 230);
}

ul {
    padding: 0px 20px;
    margin: 0px;
}

li {
    display: inline-block;
    padding: 20px 0px;
}

#hamnav {
    width: 30px;
    float: right;
    margin: 15px;
}

.navfix {
    height: 100px;
}

main {
    margin: 100px auto;
    padding: 50px;
}

/* Responsive tablet screens */
@media (min-width: 525px) {
    .header1 {
        width: 175px;
        font-size: 25px;
        margin-top: 0px;
    }

    #toggleAssist:checked + ul.nav-links {
        display: inline-block;
        text-align: center;
        width: 100%;
        background-color: rgb(250, 240, 230);
    }

    #toggleAssist:checked + ul.nav-links li {
        padding-left: 10%;
    }
}   

/* Responsive large laptop screens */
@media (min-width: 768px) {
    .toggle-button {
        display: none;
    }

    ul.nav-links {
        margin-top: 10px;
        display: block;
        float: right;
    }

    .nav-links li {
        display: inline-block;
        margin: 0px 40px;
        border-bottom: none;
    }

    .header1 {
        display: none;
    }
}

/* Responsive larger laptop screens */
@media (min-width: 960px) {
    main {
        width: 960px;
    }
}