body {
    background-color: darksalmon;
    margin: 0px;
}

h1 {
    color: darkslateblue;
    text-align: center;
}

.container {
    display: inline-block;
    width: 40%;
    height: auto;
    margin: 200px auto;
    padding: 30px;
}

.container-base,.nesting-box {
    margin: auto;
    padding: 30px;
    width: 75%;
    height: 75%;
    align-content: center;
}

.container-base {
    background-color: saddlebrown;
}

#b1 {
    background-color: chocolate;
}

#b2 {
    background-color: darkorange;
}

#b3 {
    background-color: goldenrod;
}

#b4 {
    background-color: khaki;
}

#ba {
    background-color: maroon;
}

#bb {
    background-color: red;
}

#bc {
    background-color: rgb(223, 141, 168);
}

#bd {
    background-color: pink;
}

.container .nesting-box img {
    width: 75%;
    padding: 15px 25px;
}

.button-row {
    text-align: center;
    margin-top: 25px;
}

.button-row button {
    margin-right: 15px;
    padding: 10px;
}