body {
    margin: 0px;
    background-color: lightblue;
}

header {
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
}

#buttonColorChange {
    margin-bottom: 50px;
}

#flowerImg img {
    width: 20%;
    margin: auto;
    padding: 20px;
}